{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-defult">
                <div class="panel-heading ">Sign up</div>
                <div class="panel-body">
                    <form action="{{ path_for('auth.signup') }}" method="post">
                        <div class="form-group{{ errors.name ? ' has-error' : '' }}">
                            <label for="Name">Name</label>
                            <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" value="{{ old.name }}">
                            {% if (errors.name) %}
                                <span class="help-block">{{ errors.name | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.surname ? ' has-error' : '' }}">
                            <label for="surname">Surname</label>
                            <input type="text" name="surname" id="surname" class="form-control" placeholder="Enter Surname" value="{{ old.surname }}">
                            {% if (errors.surname) %}
                                <span class="help-block">{{ errors.surname | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.email ? ' has-error' : '' }}">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="you@domail.com" value="{{ old.email }}">
                            {% if (errors.email) %}
                                <span class="help-block">{{ errors.email | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.username ? ' has-error' : '' }}">
                            <label for="usernamer">Username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username" value="{{ old.username }}">
                            {% if (errors.username) %}
                                <span class="help-block">{{ errors.username | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.password ? ' has-error' : '' }}">
                            <label for="Password">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
                            {% if (errors.password) %}
                                <span class="help-block">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="re-Password">Re-Enter Password</label>
                            <input type="password" name="re-password" id="re-password" class="form-control" placeholder="Enter Password">
                        </div>
                        <button type="submit" class="btn btn-default">Sign Up</button>

                        {{ csrf.field | raw }}

                    </form>
                </div>

            </div>



        </div>
    </div>
{% endblock %}